﻿@model DVDLibrary.WebUI.ViewModels.MovieVM
@{
    ViewBag.Title = "Index";
}



<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <img src="http://stories.barkpost.com/wp-content/uploads/2014/04/51hmU-R8sSL._SY300_.jpg" alt="dog" style="width:200px" />
            </div>
            <div class="col-xs-12 col-md-4">
                <h2>Louie's Top Picks</h2>
               
            </div>
            <div class="col-xs-12 col-md-5,.mainImage">
                <img src="http://www.clipartkid.com/images/160/movie-reel-templates-clipart-cliparthut-free-clipart-UY6uCv-clipart.jpg" alt="Reel" style="width:400px" />
            </div>

        </div>
    </div>
</div>
<div id="owner-collection">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="Title"></>Search by Title</label>
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Title" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table id="myTable" class="table table-striped" style="width: auto;">
                <thead>
                    <tr>
                        <th>Movie Title</th>
                        <th>Director</th>
                        <th>Rating</th>
                        <th>Louie's Rating</th>
                        <th>Louie's Thoughts</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var movie in Model.Movie)
                    {
                        <tr>
                            <td>@movie.Title</td>
                            <td>@movie.DirectorsName</td>
                            <td>@movie.MPAARating</td>
                            <td>@movie.UserRating bones</td>
                            <td>@movie.UserNotes</td>

                            @*-- Button trigger modal -->*@
                            <td>
                                <button type="button" class="btn btn-primary btn-sm  dvdbutton"
                                        data-toggle="modal"
                                        data-target="#myModal"
                                        data-title="@movie.Title"
                                        data-studio="@movie.Studio"
                                        data-directors="@movie.DirectorsName"
                                        data-userrating="@movie.UserRating"
                                        data-mpaarating="@movie.MPAARating"
                                        data-releasedate="@movie.ReleaseDate.ToShortDateString()"
                                        data-actors="@movie.Actors"
                                        data-usernotes="@movie.UserNotes"
                                        data-friend="@movie.Borrower"
                                        data-lentdate="@movie.LentDate.ToShortDateString()"
                                        data-returndate="@movie.ReturnDate.ToShortDateString()">

                                    Movie Details
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="modal">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Movie Details</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" class="form-control" id="DvdTitle" name="Title" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>Studio</label>
                                <input type="text" class="form-control" id="DvdStudio" name="Studio" readonly/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>Director</label>
                                <input type="text" class="form-control" id="DvdDirectorsName" name="Directors" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Louie's Rating</label>
                                <input type="text" class="form-control" id="DvdUserRating" name="LouieRating" readonly />
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>MPAA Rating</label>
                                <input type="text" class="form-control" id="DvdMPAA" name="MPAARating" readonly/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Release Date</label>
                                <input type="text" class="form-control" id="DvdRelease" name="ReleaseDate"readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="form-group">
                                <label>Actors</label>
                                <input type="text" style="max-width:500px;"class="form-control" id="DvdActors" name="actors" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Louie's Thoughts</label>
                                <input type="text" style="max-width:500px;" class="form-control" id="DvdUserNotes" name="thoughts" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label>Trusted Friend</label>
                                <input type="text" class="form-control" id="DvdFriend" name="friend" readonly/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Lent</label>
                                <input type="text" class="form-control" id="DvdLentDate" name="dateLent" readonly/>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <label>Returned</label>
                                <input type="text" class="form-control" id="DvdReturnDate" name="dateReturned" readonly/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section BodyScript{
    <script src="~/Scripts/DVDScript.js"></script>
}
