﻿@model DVDLibrary.Models.Movie
@{
    ViewBag.Title = "AddDVD";
}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <h2>AddDVD</h2>
        @Html.ActionLink("Movie List", "Index", "Home")
    </div>

    <div class="col-xs-12 col-sm-9">
        @using (Html.BeginForm())
        {
            <div class="row">
                <h2>Movie Details</h2>
            </div>
            <div class="form-group">
                <label>Movie Title</label>
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Studio</label>
                @Html.TextBoxFor(m => m.Studio, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Director</label>
                @Html.TextBoxFor(m => m.DirectorsName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Louie's Ratings (1-10)</label>
                @Html.TextBoxFor(m => m.UserRating, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>MPAA Rating</label>
                @Html.EnumDropDownListFor(m => m.MPAARating, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Release Date</label>
                @Html.TextBoxFor(m => m.ReleaseDate, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Actors</label>
                @Html.TextBoxFor(m => m.Actors, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Louie's Thoughts</label>
                @Html.TextAreaFor(m => m.UserNotes, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
            @Html.ActionLink("Cancel", "ManageDVD", "Movie", null, new { @class = "btn btn-sm btn-info" })
        
        }
    </div>

</div>
