﻿@model DVDLibrary.Models.Movie
@{
    ViewBag.Title = "DeleteDVD";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Delete DVD</h2>
        @Html.ActionLink("Movie List", "Index", "Home")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.MovieId)
            @Html.HiddenFor(m => m.Title)
            <p>Are you sure you want to remove @Html.DisplayFor(m => m.Title) from your collection?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "ManageDVD", "Movie", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>


