﻿@model DVDLibrary.WebUI.ViewModels.FriendVM
@{
    ViewBag.Title = "Friend";
}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <h2>Trusted Friends</h2>
        @Html.ActionLink("Movie List", "Index", "Home")
    </div>
  
        <div class="col-xs-12 col-sm-9">
            <br/>
            
            <table id="myTable" class="table table-striped" style="width: auto;">
                <thead>
                    <tr>
                        <th>Friend's Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Friend)
                    {
                        <tr>
                            <td>@item.Borrower</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>





