﻿@model DVDLibrary.WebUI.ViewModels.MovieVM
@{
    ViewBag.Title = "ManageDVD";
}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <h2>ManageDVD</h2>
        <p>@Html.ActionLink("Add a DVD", "AddDVD", "Movie", null, new { @class = "btn btn-primary" })</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
       
            <table class="table table-striped" style="width: auto">
                <thead>
                    <tr>
                        <th>Movie Title</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movie in Model.Movie)
                {
                        <tr>
                            <td>@movie.Title</td>
                            <td>
                                @Html.ActionLink("Edit", "EditDVD", "Movie", new { id = movie.Title }, null) |
                                @Html.ActionLink("Delete", "DeleteDVD", "Movie", new { id = movie.Title }, null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
    </div>
</div>